@model IEnumerable<assignment1.Models.company>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numEmployees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stockName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numEmployees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stockName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.companyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.companyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.companyID })
        </td>
    </tr>
}

</table>
